* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
    height: 100vh;
}

header h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    margin: 0;
}

.winner {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.gameboard-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-items: center;
}

.boardpiece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 5rem;
}

.boardpiece:nth-child(2), 
.boardpiece:nth-child(5),
.boardpiece:nth-child(8)  {
    border-right: 2px solid;
    border-left: 2px solid;
}

.boardpiece:nth-child(4),
.boardpiece:nth-child(5),
.boardpiece:nth-child(6) {
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.btn-container {
    text-align: center;
    padding-top: 2rem;
}

#play-again-btn {
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-style: none;
    background-color: #d4d4d4;
    cursor: pointer;
}

#play-again-btn:hover {
    background-color: #f59e0b;
}

.gametype {
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    gap: 4rem;
    height: 65px;
}

.gametype > button {
    font-size: 1rem;
    cursor: pointer;
    border-style: none;
    background-color: #d4d4d4;
    border-radius: 1.5rem;
}

.gametype > button:hover {
    background-color: #f59e0b;
}

.hidden {
    display: none;
}