* {
    box-sizing: border-box;
}

header {
    text-align: center;
}

main {

}

.gameboard-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
    align-items: center;
}

.boardpiece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 5rem;
}

.boardpiece:nth-child(2), 
.boardpiece:nth-child(5),
.boardpiece:nth-child(8)  {
    border-right: 1px solid;
    border-left: 1px solid;
}

.boardpiece:nth-child(4),
.boardpiece:nth-child(5),
.boardpiece:nth-child(6) {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.winner {
    text-align: center;
    font-size: 2rem;
}